vaultwarden/data
portainer/data
traefik/data/acme.json
traefik/logs
audit_swarm.txt
technitium/config
technitium/config-docker-manager-01
technitium/config-docker-manager-02
homarr/redis
homarr/appdata
homebridge/accessories
homebridge/backups
homebridge/bwp91_cache
homebridge/node_modules
homebridge/persist
homebridge/homebridge.log
prometheus/data
prometheus/grafana_data
homebridge/package.json
homebridge/.uix-dashboard.json
