vaultwarden/data
portainer/data
traefik/data/acme.json
traefik/logs
audit_swarm.txt
technitium/config
technitium/config-docker-manager-01
technitium/config-docker-manager-02
homarr/redis
homarr/appdata
homebridge/accessories
homebridge/backups
homebridge/bwp91_cache
homebridge/node_modules
homebridge/persist
homebridge/homebridge.log
prometheus/data
prometheus/grafana_data
homebridge/.uix-dashboard.json
homebridge/package.json
termix/data/opkssh/
homebridge/daikincloudtokenset.json
homebridge/.daikin-controller-cloud-tokenset
homebridge/auth.json
homebridge/.uix-secrets
prometheus/pve.yml
homebridge/config.json
traefik/.env
homarr/.env
bfg-1.14.0.jar
..bfg-report/
